footer.footer
    div.footer__1
        img(src="/images/footerlogo.png", alt="Marriott international logo")
    div.footer__2
        a(href="https://careers.marriott.com/") Careers 
        a |
        a(href="https://www.marriott.com/about/terms-of-use.mi") Terms of Use 
        a | 
        a(href="https://www.marriott.com/digital-accessibility.mi") Digital Accessibility 
        a |
        a(href="https://www.marriott.com/about/privacy.mi") Privacy Center
    div.footer__3
        p by Zane K 
    div.footer__4
        img(src="/images/careers.png")