extends base 

block content 
    h1 this is the landing page 
    div.banner.banner-overlay
        img(src="/images/banner.webp")

      div.card
        div.card__header
            div.card__picture
                div.card__picture-overlay &nbsp; 
                img.card__picture-img(src="/images/image1.jpeg", alt="Hotel 1")
            h3.heading_tertiary 
                span The Forest Hiker 
            
        div.card__details
            h4.card__sub-heading Easy 5 day tour 
            p.card__text Breathtaking hike though Canadain Banff National Park 
            div.card__date
                svg.card__icon 
                    use(xlink:href="img/icons.svg#icon-map-pin")
                span Banff, Canada 
            div.card__data
                svg.card__icon 
                    use(xlink:href="img/icons.svg#icon-calendar")
                span April 2021
            div.card__data
                svg.card__icon 
                    use(xlink:href="img/icons.svg#icon-flag")
                span 3 stops
            div.card__data
                svg.card__icon 
                    use(xlink:href="img/icons.svg#icon-user")
                span 25 people 
            
        div.card__footer
            p   
                span.card__footer-value $297
                span.card__footer-text per person 
            p.card_ratings      
                span.card__footer-value 4.9
                span.card__footer-text rating (21)
            a.btn.btn--green.btn--small(href="#") Details